*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    background-image:
        radial-gradient(80% 80% ellipse at center top, #2a2756 0%, rgba(0, 0, 0, 0) 100%),
        radial-gradient(50% 40% ellipse at center bottom, #261226 0%, #100a1c 80%);
}

.calculator-grid {
    margin-top: 35px;
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(100px, auto) repeat(7, 80px);
}

.calculator-grid button {
    cursor: default;
    font-size: x-large;
    border: 1px ridge #000000;
    outline: none;
    transition: background .2s linear !important;
    border-radius: 7px;
    margin: 2px;
    box-shadow: 0 0 12px;
}

.calculator-grid>button:hover {
    background: #5b56c2;
}

.practical-button {
    grid-column: span 2;
    background: -webkit-linear-gradient(45deg, #c97874 10%, #ca28ac 90%) !important;
    text-shadow: 0 0 1px #000000;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    -webkit-text-fill-color: transparent;
    font-weight: 400;
    margin: 0 auto 6em;
    max-width: 9em;
    transition: background 3s linear !important;
}

.practical-button:hover {
    background: -webkit-linear-gradient(45deg, #ca28ac 10%, #c97874 90%) !important;
}

.result {
    border-radius: 10px;
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.532);
    flex-direction: column;
    padding: 30px;
    word-wrap: break-word;
    word-break: break-all;
}

.result .previous {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.result .current {
    color: white;
    font-size: 1.5rem;
}